:root {
  --blue: #1e4d8c;
  --orange: #ed7036;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: white;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Manrope";
}

p {
  font-size: small;
  font-weight: 200;
}

a {
  text-decoration: none !important;
  color: inherit;
}

hr {
  background-color: white;
}

section {
  padding: 2rem;
  will-change: transform;
  opacity: 0;
}

/* @font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Manrope-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Manrope-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Manrope-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Manrope-Bold.ttf) format("truetype");
} */

#App {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  height: 100vh;

  font-size: clamp(0.66rem, 2vw, 1rem);
}

.bd-red {
  border: 1px red solid;
}

.mobile {
  display: none;
}

.pd-title {
  padding: 0.5ch 0 0.5ch 0;
}

.btn-text {
  color: white;
  opacity: 1;
}
#logo-loading{
  height: auto;
  width: 50%;
}
.btn-black {
  background-color: #333333;
  border-radius: 2rem;
  width: 8rem;
  height: 2.5rem;
  display: grid;
  align-items: center;
  padding-left: 1ch;
  padding-top: 0.5ch;
  padding-bottom: 0.5ch;
}

.btn-black:hover {
  background-color: #efefef;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn-black:hover p {
  color: #333333;
}

.btn-black:hover .round-right-arrow {
  background-color: white;
}

.btn-black-pd {
  padding: 1rem 1rem 1rem 0;
}

.round-right-arrow {
  background-color: white;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
}

.round-right-arrow svg {
  width: 50%;
  transform: translate(-5%);
}

.grid {
  display: grid;
  gap: 1ch;
  grid-template-columns: 2rem auto;
  justify-content: start;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.btn-black p {
  width: 100%;
  font-size: small;
  opacity: 1;
}

.mid-bd {
  width: 100%;
  border-bottom: 1px white solid;
  transform: translate(0, 1rem);
}

.mid-bd-blue {
  width: 100%;
  border-bottom: 1px #1e4d8c solid;
  transform: translate(0, -50%);
}

.orange {
  color: #ed7036;
}

.orange-bg {
  background-color: #ed7036;
}

.curve-bd-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.white {
  color: white;
}

.blue {
  color: #1e4d8c;
}

.black {
  color: black;
}

.gray {
  color: rgb(167, 167, 167);
}

.grey-gr {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4037990196) 0%, rgb(221, 227, 230) 100%);
}

.blue-gr {
  background: radial-gradient(circle, rgb(30, 77, 140) 7%, rgb(95, 174, 210) 71%, rgb(100, 182, 216) 77%, rgb(255, 255, 255) 100%);
}

.blue-gr2 {
  background: radial-gradient(circle, rgb(0, 24, 84) 0%, rgb(36, 138, 182) 84%, rgb(97, 177, 210) 98%);
}

.text-med {
  font-size: medium;
  font-weight: 500;
}

.textpd {
  padding: 0.5rem 0 0.5rem 0;
}

.text-small {
  font-size: small;
  font-weight: 400;
}

.text-large {
  font-size: large;
  font-weight: 600;
}

.text-xlarge {
  font-size: x-large;
  font-weight: 700;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.bold {
  font-weight: 700;
}

.xbold {
  font-weight: 800;
}


.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: right;
  align-content: right;
}

.fw {
  flex-wrap: nowrap;
}

.hPer100 {
  height: 100%;
}

.wPer1 {
  width: 20%;
  margin-right: 5%;
}

.wPer2 {
  width: 50%;
}

.wPer3 {
  width: 75%;
}

.wPer20 {
  width: 20%;
}

.wPer40 {
  width: 40%;
}

.gap40 {
  gap: 10%
}


.tab2 {
  display: grid;
  grid-template-columns: 4rem auto;
}

.patient-health {
  padding: 0.2rem 0 0.2rem 0;
  text-align: left;
  font-size: large;
}

.list-items {
  padding: 0.2rem 0 0.2rem 0;
  text-align: left;
  width: 100%;
}

.grid-ex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}

.f-align-cen {
  align-items: center;
  justify-content: center;
}

.fg {
  gap: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.bd-btm {
  border-bottom: white 1px solid;
}

.btn-orange {
  background-color: #ed7036;
  display: grid;
  align-content: center;
  color: white;
  border-radius: 1rem;
  border: none;
  height: 50px;
  width: 100px;
  font-size: 1.5ch;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.btn-orange:hover {
  cursor: pointer;
}

.title {
  font-size: 6rem;
  font-weight: 400;
  padding: 2rem 0 2rem 0;
  line-height: 1.2;
}

.title-bd-container {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.title-bd-white {
  width: auto;
  border-bottom: white solid 1px;
  transform: translate(1ch, -50%) scale(0.98);
}

.title-bd-blue {
  width: auto;
  border-bottom: #1e4d8c solid 1px;
  transform: translate(1ch, -40%) scale(0.95);
}

.bd-title-blue {
  width: 100%;
  border-bottom: #1e4d8c 1px solid;
}

#sections {
  display: flex;
  flex-direction: column;
  border: 1px blue solid;
}
.con-tb{
  padding: 10rem 0 10rem 0;
}
.desktop-page {
  display: none;
  padding-top: 6rem;
  height: 100vh;
}



#desktop-transport {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-transport-2 {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-transport-2 h1 {
  width: 100%;
}

.desktop-transport-grid2 {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-second h1 {
  font-size: 6rem;
  padding: 2rem 0 2rem 0;
  font-weight: 400;
  line-height: 1.2;
}

.hero-titles {
  padding: 0 0 1rem 0;
}

#desktop-second #comfort {
  transform: translate(0, 1.5rem);
  width: 100%;
}

#desktop-third h1 {
  font-size: 6rem;
  padding: 2rem 0 2rem 0;
  font-weight: 400;
}

#desktop-third #convenience {
  transform: translate(0, 1.8rem);
  width: 100%;
}

#list-third {
  width: 100%;
}

#list-third span {
  width: 100%;
}

#our-drivers {
  background-color: #ed7036;
  padding: 2rem;
}

#our-drivers h2 {
  padding: 1rem 0 1rem 0;
}

.exp-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.exp-text {
  align-items: flex-end;
}

.exp-img-con {
  flex-wrap: nowrap;
}
.expertise-wrapper-2{
  padding: 4rem 0 0 0;
}
.expertise-wrapper-2 .title-bd-container h2 {
  font-size: 1rem;
}

#services-main-line {
  font-size: xx-large;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
}

.services-wrapper {

  padding: 10rem 2rem 10rem 2rem;
}

.services-grid-1 {
  display: grid;
  grid-template-columns: auto 1fr 50%;
}

.services-left-img {
  height: 100vh;
  width: 10rem;
}

.serv-left-img {
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

.serv-right-top-img {
  width: 35vw;
  height: 80vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  -o-object-position: 0 0;
  object-position: 0 0;
}

.serv-right-btm-img {
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  padding: 0.5rem 0 0 0;
}

.desktop-technologies {
  display: block;
}

.mobile-technologies {
  display: none;
}

.tech-img-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: [col1] 1fr [col2] 3fr [col3] 1fr;
}

.tech-img-2 {
  display: grid;
  justify-content: center;
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr;
}

.tech-img-mobile {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(7, 1fr);
}

.tech-img-box {
  background-color: white;
  border-radius: 2rem;
  height: 43vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  box-shadow: 0rem 0.5rem 1rem rgb(220, 224, 226);
  margin-bottom: 1rem;
}

.tech-img-box .h3 {
  padding: 1rem;
}

.tech-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.tech-img-text {
  padding: 1ch;
  height: 100%;
}

.tech-header-shrink {
  display: none;
}

.tech-header-main-replace {
  display: none;
}

.tech-header-main {
  padding: 5rem;
}

.curved-bd-left {
  border-left: 1px dashed #1e4d8c;
  border-bottom: 1px dashed #1e4d8c;
  border-bottom-left-radius: 10rem;
  transform: translate(50%, -50%);
  z-index: -10;
}

.border-wrapper-left {
  transform: scale(1);
  z-Index: -10;
}

.straight-bd {
  border-top: 1px dashed #1e4d8c;
  transform: translate(0, 50%);
}

.curved-bd-right {
  border-right: 1px dashed #1e4d8c;
  border-bottom: 1px dashed #1e4d8c;
  border-bottom-right-radius: 10rem;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.border-wrapper-right {
  transform: scale(1);
  z-Index: -10;
}

.border-wrapper-mobile {
  z-index: -10;
}

.border-mobile {
  border-left: 1px dashed #1e4d8c;
  height: 100%;
  width:1px;

}

.border-straight-wrapper {
  z-Index: -10;
}

.text-align-center {
  display: grid;
  height: 40vh;
  padding: 10rem 0 0 0;
}

.tech-flex {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: -webkit-flex;
}

#tech-our-founders {
  font-size: x-large;
  padding: 0 5rem 0 5rem;
}

#tech-we-pride {
  font-size: large;
  padding: 0 5rem 0 5rem;
  transform: translate(0, 0.5rem);
}

.bd-right {
  border-right: 2px #1e4d8c dashed;
}

.f-end {
  justify-content: flex-end;
}

.sections-wrapper {
  padding: 2rem;
}

.cen {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#scene {
  z-index: -1;
  position: absolute;
}

#loading-container {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  padding: 1rem;
}

#loading-text {
  color: #333333;
}

#progress-bar {
  width: 50vw;
  height: 0.3rem;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

progress::-webkit-progress-value {
  background-color: #039603 !important;
}

.skip {
  z-index: 9999;
}

.skip:hover {
  cursor: pointer;
}

#anchors {
  color: #1e4d8c;
  height: 100vh;
  position: fixed;
  width: 10rem;
  left: 0;
  top: 0;
  z-index: 9000;
  display: none;
  align-items: center;
  max-width: 10rem;
}

#anchors span {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2ch;
  transition-duration: 0.2s;
}

#anchors span:hover {
  color: orange;
  cursor: pointer;
  transition-duration: 0.2s;
}

.navigation-main {
  width: 95vw;
  height: 6rem;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 60% auto;
  gap: 2ch;
  padding: 0 3rem 3rem 3rem;
  z-index: 10000;
}

#menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.menu-icon {
  padding: 0 5px 0 0;
}

.menu-text {
  color: #1e4d8c;
}

.menu-icon:hover {
  cursor: pointer;
}

#menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu-items h2 {
  font-size: 4rem;
  transition-duration: 0.3s;
  color: white;
}

.menu-items h2:hover {
  cursor: pointer;
  background-color: white;
  color: #ed7036;
  transition-duration: 0.2s;
}

.modal-wrapper {
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  
}

.modal-wrapper-homepage {
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.modal {
  z-index: 1000;
  background-color: white;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  /* padding: 5rem; */
  overflow: scroll;
}
#scroll-skip{
  display: flex;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  z-index: 10001;
}
.home-wrapper {
  width: 100%;
}

.con-pd {
  padding-left: 10rem;
  padding-right: 10rem;
}

.con-pd-tb {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.text-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text-box {
  width: 20rem;
  padding-bottom: 1ch;
}

.menu-icon {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 2ch;
  fill: #1e4d8c;
}

#customer-title {
  border-bottom: 1px #1e4d8c solid;
}

#review-wrapper {
  width: 90vw;
    overflow-y: hidden;
  overflow-x: scroll;
}

#review-wrapper::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

#review-wrapper::-webkit-scrollbar-track {
  background-color: #1e4d8c;
}

#review-wrapper::-webkit-scrollbar-thumb {
  background-color: #ed7036;
}

#review-con {
  height: -moz-fit-content;
  height: fit-content;
  /* width: 100%; */
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
  padding: 2rem;
  z-index: 100;
}

.customers-wrapper {
  padding: 10rem 0 10rem 10rem;
}

.arrow-btn-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1rem);
  gap: 2rem;
}

.arrow-btn {
  width: 2rem;
  height: 2rem;
  fill: #1e4d8c;
  background-color: #efefef;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.arrow-btn:hover {
  background-color: #333333;
  cursor: pointer;
  transition-duration: 0.3s;
}

.review-box {
  flex: 0 0 auto;
  float: right;
  background-color: rgb(247, 247, 247);
  width: 20rem;
  box-shadow: 0rem 0.5rem 1rem rgb(220, 224, 226);
  border: solid 2px  rgb(247, 247, 247);
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  z-index: 100;
  transition-duration: 0.3s;
}
.review-box:hover{
  border: solid 2px var(--orange);
  transition-duration: 0.3s;


}

.review-box-wrapper .fg {
  gap: 5px;
}


.review-box-wrapper:hover {
  cursor: grab;
}

.slide-btn-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  height: 14vh;
}

.slide-btn {
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
#covid-home-content{
  flex-wrap: nowrap;
}
#covid h2 {
  text-align: center;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid h1 {
  text-align: center;
  font-size: 9rem;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid-aboutus {
  padding: 10rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}


#covid button {
  transform: translate(0, 4rem);
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: none;
}

#covid img {
  width: 2rem;
  height: 2rem;
}

.nextBtn {
  padding: 10rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.nextBtn button {
  transform: translate(0, 4rem);
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: none;
}

.nextBtn img {
  width: 2rem;
  height: 2rem;
}

.nextBtn h1 {
  text-align: center;
  font-size: 9rem;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid-para1 {
  width: 65%;
  padding-right: 2rem;
  font-size: x-large;
  font-weight: 500;
}

.covid-para2 {
  font-size: medium;
  font-weight: 500;
}

.covid-para2-con {
  padding: 0 0 0 1rem;
  
}

.links {
  padding-top: 1.4rem;
}

.link-box {
  width: 16vw;
}

.link-box .text-med {
  padding-top: 1rem;
}

.link {
  padding-bottom: 1ch;
  color: lightblue;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.footer-title {
  width: 35vw;
  font-size: 2rem;
  padding-right: 2rem;

}

.desktop-sections {
  width: 30%;
  padding: 2rem 0 2rem 0;
}

#nemt-desktop {
  background-color: rgb(237, 112, 56);
  padding: 2rem;
  float: right;
}

#nemt-wrapper {
  display: grid;
  grid-template-columns: 30% 30% auto;
  gap: 2rem;
  justify-content: end;
}

#nemt-desktop h1 {
  font-size: 4rem;
  padding: 0.2rem 0 0.2rem 0;
}

#nemt {
  background-color: rgb(237, 112, 56);
}

#nemt h1 {
  font-size: 2rem;
  padding: 0.2rem 0 0.2rem 0;
}

#logo {
  width: auto;
  height: auto;
}

#menuicon {
  width: 2.5rem;
  height: auto;
}

.icons {
  width: 2rem;
  fill: rgb(30, 77, 140);
}

.evolution-container {
  display: flex;
  flex-wrap: wrap;
}

#back-hero {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #1e4d8c;
  top: 5rem;

}

.max1080 {
  display: none;
}

.years {
  height: 40vh;
  width: 200px;
}
.evolution-wrapper{
  height: 100vh;
 }

.chart-box {
  width: 6rem;
}

.evo-box {
  height: 6rem;
  width: 6rem;
}

.chart-box p {
  padding: 7px 7px 7px;
  font-size: small;
  font-weight: 400;
}

.chart-box h3 {
  padding-left: 7px;
}

.trips {
  border-left: 7px #ed7036 solid;
  background-color: rgba(237, 112, 54, 0.5);
}

.miles {
  border-left: 7px #1c98cb solid;
  background-color: rgba(28, 152, 203, 0.5);
}

.clients {
  border-left: 7px #689f38 solid;
  background-color: rgba(104, 159, 56, 0.5);
}

.chart-vh {
  height: 30vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#back-hero:hover {
  cursor: pointer;
}

#chart-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow: hidden;
  overflow-x: hidden;
}

.chart-details {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#year {
  display: flex;
  position: relative;
  align-items: end;
  text-align: right;
  border-bottom: 5px white solid;
  width: 82vw;
}

.year-css {
  position: absolute;
  bottom: 0;
}

.year-small {
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.5;
}

.year-small:hover {
  opacity: 1;
  cursor: pointer;
}

.year-large {
  font-size: 8rem;
  font-weight: 500;
}

#y2019 {
  position: absolute;
}

#y2020 {
  transform: translate(50vw, 0);
  opacity: 0.5;
}

#y2021 {
  transform: translate(60vw, 0);
  opacity: 0.5;
}

#y2022 {
  transform: translate(70vw, 0);
  opacity: 0.5;
}

#evo-title {
  font-size: 4rem;
}

#chart-div {
  display: flex;
  width: 60vw;
}

.svg-items {
  /* margin: 0 0 0 1rem; */
}
/* #svg-content-2 {display: none;}
#svg-content-3 {display: none;}

#svg-content-4{display: none;} */

#svg-content-2 path{
  opacity: 0;
}

#svg-content-3 path{
  opacity: 0;
}


#svg-content-4 path{
  opacity: 0;
}

.tick line {
  opacity: 0.5;
}

.tick text {
  font-weight: bold;
}

.domain {
  opacity: 0;
}

#customers {
  height: 100vh;
}

@media only screen and (max-width: 1400px) {
  #desktop-third h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .covid-para2-con{
    padding: 0rem;
  }
  .fg {
    gap: 1rem;
  }
  #covid-para1 {
    width: 100%;
    padding-right: 2rem;
    font-size: large;
    font-weight: 500;
  }
  .con-pd {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .con-pd-tb{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .tech-header-shrink {
    display: block;
  }

  .tech-header-main {
    display: none;
    width: 100%;
  }

  .tech-header-main-replace {
    display: block;
  }

  .tech-img-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tech-img-2 {
    grid-template-columns: [col1] 1fr [col2] 2fr [col3] 1fr [col4] 2fr [col5] 1fr;
  }

  .tech-img-box {
    height: 90%;
  }

  .tech-img-box h2 {
    font-size: medium;
  }

  .tech-img-box p {
    font-size: small;
  }

  .year-large {
    font-size: 6rem;
  }

  .year-small {
    font-size: 2rem;
  }

  .exp-img-con {
    flex-wrap: wrap;
  }

  .text-large {
    font-size: medium;
  }

  .exp-img {
    width: 300px;
    height:200px;
  }

  .title {
    font-size: 4rem;
  }

  #desktop-second h1 {
    font-size: 4rem;
    padding: 2rem 0 2rem 0;
    font-weight: 400;
    line-height: 1.2;
  }

  .text-xlarge {
    font-size: large;
  }

  .title-bd-container h2 {
    font-size: medium;
    font-weight: 800;
  }

  .title-bd-container p {
    font-size: small;
    font-weight: 100;
  }

  .desktop-page {
    padding: 5rem 0 0 0;
  }

  #nemt-wrapper {
    grid-template-columns: 0 0 auto;
    gap: 0;
  }

  #nemt-content {
    display: flex;
    align-items: center;
  }

  #nemt-content h1 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem;
  }
  #covid-aboutus {
    padding: 2rem 0 2rem 0;
  }
  #covid-aboutus button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
  }
  #covid h2 {
    font-size: 2rem;
    letter-spacing: normal;

  }
  #covid h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  #services-main-line {
    font-size: medium;
    font-weight: 400;
  }

}

@media only screen and (max-width: 1080px) {
  .wPer40{
    width: 100%;
  }
  .title {
    font-size: 4rem;
    font-weight: 500;
  }

  .years-wrapper .evo-tagline {
    width: 100%;
    display: none;
  }

  .max1080 {
    display: block;
    margin: 1rem 0 1rem 0;
  }

  .years-wrapper .chart-vh {
    height: 10vh;
  }

  #line-chart .chart-vh {
    height: 30vh;
  }

  .fw {
    flex-wrap: wrap;
  }

  .wPer1 {
    width: 45%;
  }

  .wPer3 {
    width: 100%;
  }

  .wPer20 {
    width: 30%;
  }

  .mid-bd {
    transform: translate(0, -1rem);
  }

  .mid-bd-blue {
    transform: translate(0, -1rem);
  }

  .tech-flex {
    justify-content: center;

    flex-wrap: wrap;
  }

  .bd-right {
    border-bottom: 2px #1e4d8c dashed;
    width: 100%;
  }

 .text-align-center {
  text-align: center;
    height: 20vh;
    display: grid;
    height: auto;
    padding: 1rem 0 1rem 0;
  
  }


  #line-chart {
    height: 100%;
    width: 100%;
  }

  .mobile {
    display: none;
  }
  #tech-our-founders {
    font-size: small;
    font-weight: 600;
    padding: 0;
  }
  #tech-we-pride {
    font-size: small;
    padding: 0 0 0 0;
    transform: translate(0, 0);
  }
  
  .chart-box {
    width: 5rem;
    /* height: 4rem; */
  }

  .chart-box p {
    font-size: 0.6rem;
    width: 4rem;
  }
  .chart-box h3{
    font-size: 1rem;
  }
  .evo-box {
    height: 4.5rem;
    width: 5rem;
  }

}

@media only screen and (max-width: 800px) {
  #anchors{
    display: none;
  }
  #covid-home-content{
    flex-wrap: wrap;
  }
  .wPer1 {
    width: 100%;
  }

  .wPer2 {
    width: 100%;
  }

  .con-pd {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .year-large {
    font-size: 4rem;
  }

  .year-small {
    font-size: 1.5rem;
  }

  .wPer20 {
    width: 50%;
  }

  #desktop-second h1 {
    font-size: 3rem;
    padding: 1rem 0 1rem 0;
    font-weight: 400;
    width: 100%;
  }

  #desktop-third h1 {
    font-size: 2rem;
    width: 100%;
    font-weight: 600;
  }

  #evo-title {
    font-size: 2rem;
  }

  .desktop-sections {
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
  }

  .flex-container {
    gap: 0.5rem;
  }

  #nemt-content h1 {
    font-size: 2rem;
    width: 10rem;
    font-weight: 500;
    padding: 0 1rem 0 0;
  }

  #list-third {
    width: auto;
  }

  #list-third .flex {
    flex-wrap: wrap;
    gap: 0;
  }

  #desktop-third h1 {
    padding: 0.5rem 0 0.5rem 0;
  }

  #desktop-third .flex-container {
    gap: 0.2rem;
  }

  #our-drivers {
    width: 100%;
  }

  #our-drivers h2 {
    padding: 0.2rem;
  }

  .flex {
    gap: 0.2rem;
  }

  .title {
    font-size: 3rem;
  }

  .exp-img-con {
    flex-wrap: nowrap;
    gap: 0;
  }

  .exp-img {
    width: 50%;
  }

  .services-left-img {
    display: none;
  }

  .services-grid-1 {
    grid-template-columns: 1fr;
  }

  #services-img {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .serv-right-top-img {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1rem;
    -o-object-position: 0 0;
    object-position: 0 0;
    background-color: red;
  }

  .serv-right-btm-img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1rem;
  }

  .year-small {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .wPer20 {
    width: 100%;
  }

  .year-small {
    font-size: 1.2rem;
    padding-right: 5px;
  }
  .links{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 400px) {

  .title {
    font-size: 2rem;
    font-weight: 500;
  }
  .customers-wrapper .con-tb{
    padding: 4rem 0 2rem 0;

  }
  .con-tb{
    padding: 2rem 0 2rem 0;
  }
  .btn-orange {
    height: 1.5rem;
  }

  .navigation-main {
    padding: 1rem 2rem 4rem 2rem;
    height: 1rem;
  }
  .exp-img {
    width: 50%;
    height: 8rem;
  }

  .tech-img-box {
    height: 40vh;
  }

  .desktop-technologies {
    display: none;
  }

  .mobile-technologies {
    display: block;
  }

  .chart-vh {
    width: 80%;
    margin: 1rem;
  }

  #year.chart-vh {
    height: 10vh;
  }

  .year-large {
    font-size: 3rem;
  }

  .year-small {
    font-size: 0.9rem;
    padding-right: 5px;
  }

 
  .pd-title {
    padding: 0.1ch 0 0.1ch 0;
  }

  .text-med {
    font-size: small;
    font-weight: 400;
  }

  .text-large {
    font-size: medium;
    font-weight: 500;
  }

  .btn-black-pd {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  #exp-bd {
    transform: translate(0, 50%);
  }

}

/* @media only screen and (max-width:1200) {
 
  #scene{

    position: fixed;
      top:0;
      left:0;
  }
} */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cen {
    margin: 0;
    width: auto;
    padding: 10px;
  }
  
  #scroll-skip{
    bottom: 0rem;
    top: 1rem;
    right: 0.2rem;
    
  }
  #scroll-skip h3{
    font-size: 0.8rem;
  }
  .hero-titles {
    padding: 0 0 0.5rem 0;
  }

  .desktop-page {
    padding: 3.5rem 0 0 0;
  }

  #desktop-transport {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  #desktop-transport h1{
    font-size: 1.8rem;
    font-weight: 600;
  }

  #desktop-second,
  #desktop-third h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  #desktop-second #comfort p {
    font-size: small;
    font-weight: 600;
  }

  .section p {
    font-size: small;
    font-weight: 400;
  }

  #nemt-desktop {
  margin-top: 1rem;
    padding: 1rem;
  }

  #nemt-content {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #nemt-content h1 {
    display: none;
    /* margin-right: 1rem;

    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem; */
  }

  #desktop-transport-2,
  .desktop-transport-grid2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  #desktop-third .flex-container{
    gap:0;
  }
  #list-third span,
  h4 {
    font-size: small;
  }
  .tab2{
    grid-template-columns: 2rem auto;
  }
  #our-drivers{
    padding: 1rem;
    margin-top: 1rem;
  }
  #our-drivers h4,h2{
    font-size: small;
    font-weight: 500;
  }
  #desktop-transport-2 h1 {
    width: 100%;
  }
  .expertise-wrapper-2{
    padding: 1rem 0 0 0;
  }
  .wPer20 {
    width: 100%;
  }

  .con-pd {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wPer40 {
    width: 100%;
  }

  .gap40 {
    gap: 0
  }

  #scene {

    position: fixed;
    top: 0;
    left: 0;
  }

  

  #desktop-hero-content {
    /* border: red 1px solid; */
    /* width: 70%; */
  }
  .desktop-technologies {
    display: none;
  }
  #anchors {
    display: none;
  }

  #tech-our-founders {
    font-size: small;
    font-weight: 600;
    padding: 0;
  }

  #covid h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  #covid-home-content{
    flex-wrap: wrap;
  }
  .chart-details {
    flex-wrap: nowrap;
    display: none;
  }

  .evo-box {
    height: 4.5rem;
    width: 5rem;
  }
  #chart-div {
    width: 80vw;
  }

  .chart-box {
    width: 5rem;
    /* height: 4rem; */
  }

  .chart-box p {
    font-size: 0.6rem;
  }

  #services-main-line {
    font-size: medium;
    font-weight: 400;
  }

  .services-wrapper {

    padding: 5rem 1rem 5rem 1rem;
  }

  .text-align-center {
    display: grid;
    height: auto;
    padding: 1rem 0 1rem 0;
  }

  #tech-we-pride {
    font-size: small;
    padding: 0 0 0 0;
    transform: translate(0, 0);
  }
 .evolution-wrapper{
  height: 100vh;
 }

  #review-con {
    width: auto;
    padding: 1rem;
  }
.covid-para2-con{
  padding: 0rem;
}
  #covid h2 {
    font-size: 2rem;
    letter-spacing: normal;

  }

  #covid #covid-para1 {
    width: 100%;
    font-size: large;
    font-weight: 400;
  }

  .covid-para2-con {
    width: 100%;
    padding: 1rem 0 0 0;
  }

  .covid-para2 {
    font-size: small;
    font-weight: 300;
  }

  #covid-aboutus {
    padding: 2rem 0 2rem 0;
  }
.nextBtn{
  padding: 2rem 0 2rem 0;

}
.nextBtn h1 {
  text-align: center;
  font-size: 3rem;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
  #covid-aboutus button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
  }
 

  .nextBtn button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
  }

  .nextBtn img {
    width: 2rem;
    height: 2rem;
  }
  .modal{
    display: block;
  }
  .links{
    flex-wrap: wrap;
  }
}