:root {
  --blue: #1e4d8c;
  --orange: #ed7036;
  --darkBlack: #333333;
  --lightBlack: #888888;
  --lightGray: #eaedf1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: white;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Manrope";
}

p {
  font-size: small;
  font-weight: 200;
}

a {
  text-decoration: none !important;
  color: inherit;
}

hr {
  background-color: white;
}

section {
  padding: 2rem;
  will-change: transform;
  opacity: 0;
}


#App {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  height: 100vh;

  font-size: clamp(0.66rem, 2vw, 1rem);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.deactive {
  pointer-events: none;
}

.split-line {
  overflow: hidden;
  height: 7rem;

}
.split-line-medium{
    overflow: hidden;
    height: 5rem;
}
.split-line-small{
  overflow: hidden;
  height: auto;
}
.bd-line {
  height: 1px;
  background-color: var(--blue);
}

.bd-line-b {
  height: 1px;
  background-color: var(--darkBlack);

}

.bd-red {
  border: 1px red solid;
}

.mobile {
  display: none;
}

.pd-title {
  padding: 0.5ch 0 0.5ch 0;
}

.btn-text {
  color: white;
  opacity: 1;
}

#logo-loading {
  height: auto;
  width: 20%;
}

.btn-black {
  background-color: #333333;
  border-radius: 2rem;
  width: max-content;
  height: 2.5rem;
  display: grid;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1ch;
  padding-top: 0.5ch;
  padding-bottom: 0.5ch;
}

.btn-black:hover {
  background-color: #efefef;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn-black:hover p {
  color: #333333;
}

.btn-black:hover .round-right-arrow {
  background-color: white;
}

.btn-black-pd {
  padding: 1rem 1rem 1rem 0;
}

#btn-svg {
  stroke-width: 2px;
  transition-duration: 0.2s;
}

.btn-black:hover #btn-svg {
  stroke-width: 3px;
  transition-duration: 0.3s;

}

.round-right-arrow {
  background-color: white;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
}

.round-right-arrow svg {
  width: 50%;
  transform: translate(-5%);
}

.grid {
  display: grid;
  gap: 1ch;
  grid-template-columns: 2rem auto;
  justify-content: start;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.btn-black p {
  width: 100%;
  font-size: small;
  opacity: 1;
}

.mid-bd {
  width: 100%;
  border-bottom: 1px white solid;
  transform: translate(0, 1rem);
}

.mid-bd-blue {
  width: 100%;
  border-bottom: 1px #1e4d8c solid;
  transform: translate(0, -50%);
}

.orange {
  color: #ed7036;
}

.orange-bg {
  background-color: #ed7036;
}

.curve-bd-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.white {
  color: white;
}

.blue {
  color: #1e4d8c;
}

.black {
  color: black;
}

.darkBlack {
  color: #333333;
}

.lightBlack {
  color: #888888;
}

.gray {
  color: rgb(167, 167, 167);
}

.grey-gr {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4037990196) 0%, rgb(221, 227, 230) 100%);
}

.blue-gr {
  background: radial-gradient(circle, rgb(30, 77, 140) 7%, rgb(95, 174, 210) 71%, rgb(100, 182, 216) 77%, rgb(255, 255, 255) 100%);
}

.blue-gr2 {
  background: radial-gradient(circle, rgb(33, 64, 143) 0%, rgb(36, 138, 182) 84%, rgb(97, 177, 210) 98%);
}

.text-med {
  font-size: medium;
  font-weight: 500;
}

.textpd {
  padding: 0.5rem 0 0.5rem 0;
}

.text-small {
  font-size: small;
  font-weight: 400;
}

.text-large {
  font-size: large;
  font-weight: 600;
}

.text-xlarge {
  font-size: x-large;
  font-weight: 700;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.bold {
  font-weight: 700;
}

.xbold {
  font-weight: 800;
}


.semi-bold {
  font-weight: 600;
}

.regular {
  font-weight: 500;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: right;
  align-content: right;
}

.fw {
  flex-wrap: nowrap;
}

.hPer100 {
  height: 100%;
}

.wPer1 {
  width: 20%;
  margin-right: 5%;
}

.wPer2 {
  width: 50%;
}

.wPer3 {
  width: 75%;
}

.wPer20 {
  width: 20%;
}

.wPer40 {
  width: 40%;
}

.wPer45 {
  width: 45%;
}

.wPer47 {
  width: 47.5%;
}

.fg1rem {
  gap: 1rem;
}

.fg2rem {
  gap: 2rem;
}

.fg10 {
  gap: 10%;
}

.fg5 {
  gap: 5%;
}

.wPer33 {
  width: 33%;
}

.gap40 {
  gap: 10%
}


.tab2 {
  display: grid;
  grid-template-columns: 4rem auto;
}

.patient-health {
  padding: 0.2rem 0 0.2rem 0;
  text-align: left;
  font-size: large;
}

.list-items {
  padding: 0.2rem 0 0.2rem 0;
  text-align: left;
  width: 100%;
}

.grid-ex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}

.f-align-cen {
  align-items: center;
  justify-content: center;
}

.fg {
  gap: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.ai {
  align-items: center;
}

.jc {
  justify-content: center;
}

.bd-btm {
  border-bottom: white 1px solid;
}

.bd-btm-blue {
  border-bottom: var(--blue) 1px solid;
}

.bd-btm-blue2 {
  border-bottom: var(--blue) 2px solid;
}

.bd-btm-black {
  border-bottom: var(--darkBlack) 1px solid;
}

.div1px-black {
  background-color: var(--lightBlack);
  height: 1px;
  width: auto;

}

.btn-orange {
  background-color: #ed7036;
  display: grid;
  align-content: center;
  color: white;
  border-radius: 1rem;
  border: none;
  height: 50px;
  width: 100px;
  font-size: 1.5ch;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.btn-orange:hover {
  cursor: pointer;
}

.title {
  font-size: 6rem;
  font-weight: 400;
  padding: 2rem 0 2rem 0;
  line-height: 1.2;
}

.title-bd-container {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.title-bd-white {
  width: auto;
  border-bottom: white solid 1px;
  transform: translate(1ch, -50%) scale(0.98);
}

.title-bd-blue {
  width: auto;
  border-bottom: #1e4d8c solid 1px;
  transform: translate(1ch, -40%) scale(0.95);
}

.title-bd-black {
  width: auto;
  border-bottom: var(--darkBlack) solid 1px;
  margin-left: 1ch;
  transform: translate(0, -40%);
}

.title-bd-black2 {
  width: auto;
  height: 1px;
  background-color: var(--lightBlack);
  /* border-bottom: var(--darkBlack) solid 1px; */
  margin-left: 2ch;
  transform: translate(0, 10px);
}

.bd-title-blue {
  width: 100%;
  border-bottom: #1e4d8c 1px solid;
}

#sections {
  display: flex;
  flex-direction: column;
  border: 1px blue solid;
}

.con-tb {
  padding: 10rem 0 10rem 0;
}

.desktop-page {
  display: none;
  padding-top: 6rem;
  height: 100vh;
}



#desktop-transport {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-transport-2 {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-transport-2 h1 {
  width: 100%;
}

.desktop-transport-grid2 {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4rem;
}

#desktop-second h1 {
  font-size: 6rem;
  padding: 2rem 0 2rem 0;
  font-weight: 400;
  line-height: 1.2;
}

.hero-titles {
  padding: 0 0 1rem 0;
}

#desktop-second #comfort {
  transform: translate(0, 1.5rem);
  width: 100%;
}

#desktop-third h1 {
  font-size: 6rem;
  padding: 2rem 0 2rem 0;
  font-weight: 400;
}

#desktop-third #convenience {
  transform: translate(0, 1.8rem);
  width: 100%;
}

#list-third {
  width: 100%;
}

#list-third span {
  width: 100%;
}

#our-drivers {
  background-color: #ed7036;
  padding: 2rem;
}

#our-drivers h2 {
  padding: 1rem 0 1rem 0;
}

.exp-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.exp-text {
  align-items: flex-end;
}

.exp-img-con {
  flex-wrap: nowrap;
}

.expertise-wrapper-2 {
  padding: 4rem 0 0 0;
}

.expertise-wrapper-2 .title-bd-container h2 {
  font-size: 1rem;
}

#services-main-line {
  font-size: xx-large;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
}

.services-wrapper {

  padding: 10rem 2rem 10rem 2rem;
}

.services-grid-1 {
  display: grid;
  grid-template-columns: auto 1fr 50%;
}

.services-left-img {
  height: 100vh;
  width: 10rem;
}

.serv-left-img {
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

.serv-right-top-img {
  width: 35vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 1rem;
  object-position: 60% 20%;


}

.serv-right-btm-img {
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  padding: 0.5rem 0 0 0;
}

.desktop-technologies {
  display: block;
}

.mobile-technologies {
  display: none;
}

.tech-img-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: [col1] 1fr [col2] 3fr [col3] 1fr;
}

.tech-img-2 {
  display: grid;
  justify-content: center;
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr;
}

.tech-img-mobile {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(7, 1fr);
}

.tech-img-box {
  background-color: white;
  border-radius: 2rem;
  height: 43vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  box-shadow: 0rem 0.5rem 1rem rgb(220, 224, 226);
  margin-bottom: 1rem;
}

.tech-img-box .h3 {
  padding: 1rem;
}

.tech-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.tech-img-text {
  padding: 1ch;
  height: 100%;
}

.tech-header-shrink {
  display: none;
}

.tech-header-main-replace {
  display: none;
}

.tech-header-main {
  padding: 5rem;
}

.curved-bd-left {
  border-left: 1px dashed #1e4d8c;
  border-bottom: 1px dashed #1e4d8c;
  border-bottom-left-radius: 10rem;
  transform: translate(50%, -50%);
  z-index: -10;
}

.border-wrapper-left {
  transform: scale(1);
  z-Index: -10;
}

.straight-bd {
  border-top: 1px dashed #1e4d8c;
  transform: translate(0, 50%);
}

.curved-bd-right {
  border-right: 1px dashed #1e4d8c;
  border-bottom: 1px dashed #1e4d8c;
  border-bottom-right-radius: 10rem;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.border-wrapper-right {
  transform: scale(1);
  z-Index: -10;
}

.border-wrapper-mobile {
  z-index: -10;
}

.border-mobile {
  border-left: 1px dashed #1e4d8c;
  height: 100%;
  width: 1px;

}

.border-straight-wrapper {
  z-Index: -10;
}

.text-align-center {
  display: grid;
  height: 40vh;
  padding: 10rem 0 0 0;
}

.tech-flex {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: -webkit-flex;
}

#tech-our-founders {
  font-size: x-large;
  padding: 0 5rem 0 5rem;
}

#tech-we-pride {
  font-size: large;
  padding: 0 5rem 0 5rem;
  transform: translate(0, 0.5rem);
}

.bd-right {
  border-right: 2px #1e4d8c dashed;
}

.f-end {
  justify-content: flex-end;
}

.sections-wrapper {
  padding: 2rem;
}

.cen {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#scene {
  z-index: -1;
  position: absolute;
}

#loading-container {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  padding: 1rem;
}

#loading-text {
  color: #333333;
}

#progress-bar {
  width: 50vw;
  height: 0.3rem;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

progress::-webkit-progress-value {
  background-color: #039603 !important;
}

.skip {
  z-index: 9999;
}

.skip:hover {
  cursor: pointer;
}

#anchors {
  color: #1e4d8c;
  height: 100vh;
  position: fixed;
  width: max-content;
  top: 45%;
  z-index: 9000;
  display: none;
  align-items: center;
  max-width: 10rem;
  /* border: 1px solid red; */
}

#anchors-con {
  gap: 0.2rem;
}

#anchors span {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2ch;
  font-weight: 600;
  transition-duration: 0.2s;
  padding-bottom: 0.5rem;
}

#anchors span:hover {
  color: orange;
  cursor: pointer;
  transition-duration: 0.2s;
}

.navigation-main {
  width: 100%;
  height: 6rem;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 40% 40%;

  z-index: 10003;
}

.st0 {
  fill: none;
  stroke: var(--blue);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.location1a {
  fill: white;
}

.location1b {
  fill: var(--orange);
}

.allLocations1a {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #FBF9F9;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.allLocations1b {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EF8226;
}

.allLocations1c {
  fill: #FFFFFF;
}

#svg-menuicon {
  width: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-duration: 0.3s;
  height: 100%;

}

.menu-icon:hover {
  /* scale: 1.1; */
  transition-duration: 0.3s;
  stroke-width: 4px;
  transition-duration: 0.3s;

}

.menu-text1,
.menu-text2 h3 {
  color: #1e4d8c;
  font-weight: 500;
  font-size: 1rem;
  transition-duration: 0.3s;
}

.menu-icon:hover .menu-text1 {

  padding-left: 1.5rem;
  transition-duration: 0.3s;
}

.menu-text1:hover {
  font-weight: 700;
  padding-left: 0.5rem;
  transition-duration: 0.3s;
}

.menu-text2:hover {
  pointer-events: none;
}

.seperator {
  margin-left: 1rem;
  margin-right: 1rem;

}

.menu-icon:hover .st0 {
  stroke-width: 3px;
  transition-duration: 0.3s;
}

#svg-menuicon .st0 {
  transition-duration: 0.3s;

}

#logo {
  object-fit: scale-down;
  padding: 1rem 1rem 0 1rem;
  width: 90%;
  height: auto;
}

#logo-white {
  object-fit: scale-down;
  padding: 1rem 1rem 0 1rem;
  width: 90%;
  height: auto;
  opacity: 0;
  display: none;
}


#menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10002;
}

#menu-svg {
  height: 50px;
}

#menuicon {
  width: auto;
  height: auto;
}



.menu-icon {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 2ch;
  fill: #1e4d8c;
  width: 100%;
  padding: 0 5px 0 0;
  height: 100%;
}

.menu-icon:hover {
  cursor: pointer;
}

#menu-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 60% 20%;

}

#menu-logo {
  height: 100vh;
  background: linear-gradient(90deg, rgba(30, 77, 140, 1) 0%, rgba(40, 84, 153, 1) 100%);
}

#menu-links {

  display: grid;
  border-right: #6181ac solid 1px;
  height: 100vh;
  align-items: center;
  background: linear-gradient(90deg, rgba(30, 77, 140, 1) 0%, rgba(40, 84, 153, 1) 100%);
}

#menu-items {
  padding-left: 5rem;

  line-height: 7rem;
  display: grid;
  grid-template-rows: auto;
  flex-wrap: wrap;
}

#menu-items h2 {
  font-weight: 500;
  font-size: 7rem;
  transition-duration: 0.3s;
  color: white;
}

#menu-items span {
  display: inline-block;
  transform: translate(-50%, -50%);
  width: 0%;
  scale: 0 0;

  transition-duration: 0.8s;
}

#menu-items h2:hover span {
  cursor: pointer;
  scale: 1 1;
  width: 10%;

  transition-duration: 0.3s;

  transform: translate(0%, -50%);
}

#menu-contact-wrapper {
  background-color: var(--blue);
  height: 100vh;
}

#menu-contact {
  padding: 3rem;

  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.numberBtnWrapper {
  display: grid;
  align-items: center;
  height: 20vh;
}
.numberBtnWrapperDesktop {


}
#contact-numbers {
  display: grid;
  grid-template-rows: 30% 30%;
  gap: 0.5rem;
  justify-content: center;
  height: auto;
  width: 100%;
}

.contact-number {
  display: grid;
  padding-bottom: 1rem;
  height: auto;
  grid-template-rows: 1fr 1fr;
}

.contact-number h2 {
  padding-bottom: 0.3rem;
  font-size: 1rem;
}

#contact-numbers .number {
  display: grid;
  grid-template-columns: auto 50px;
  justify-content: center;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1rem;
  font-weight: 900;
  align-items: center;
  width: max-content;
  height: 50px;
}

#menu-other-links {
  width: 100%;
}

.madeBy {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-top: 1rem;
}

#links-faq {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
}

#links-faq .text-xlarge {
  font-size: 2.5rem;
  font-weight: 500;
}

#menu-privacy {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2rem;
}

#menu-privacy p {
  font-size: large;
  font-weight: 400;
}

#portal {
  display: none;
}

.modalCloseBtnWrapper {
  display: grid;
  grid-template-columns: auto 3.5rem;
  align-items: center;
  position: absolute;
  right: 7vw;
  top: 6vh;
  transition-duration: 0.3s;

}

.modalCloseBtnWrapper:hover .modalCloseX {
  color: var(--blue);
  transition-duration: 0.3s;
  scale: 1.1;
  font-size: 1.75rem;
  cursor: pointer;
  background-color: white;
}

.modalCloseBtnWrapper:hover .modalClose {
  opacity: 1;
  transition-duration: 0.3s;
}

.modalCloseX {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 3rem;

  background-color: var(--darkBlack);
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  transition-duration: 0.3s;
  pointer-events: none;
}

.modalClose {
  color: white;
  display: grid;
  border: 2px solid white;
  height: 2.5rem;
  width: 5rem;
  text-align: center;
  align-items: center;
  margin-right: -0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  opacity: 0;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.3s;
  pointer-events: none;
}

.modal-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;

}

.modal-container {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

#homepage {}

.smooth-content {}

.modal-wrapper-homepage {
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.page-content-wrapper {
  height: 100vh;
  padding-top: 10vh;
}

.modal {
  z-index: 10000;
  background-color: white;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  /* padding: 5rem; */
  overflow-y: scroll;
}

#scroll-skip {
  display: flex;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  z-index: 10001;
  flex-wrap: nowrap;
}

#scroll-skip-mobile {
  display: none;
  /* position: absolute;
  right: 0;
  top: 1.5rem; */
}

.home-wrapper {
  width: 100%;
}

.con-pd {
  padding-left: 10rem;
  padding-right: 10rem;
}

.con-pd-tb {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.text-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text-box {
  width: 20rem;
  padding-bottom: 1ch;
}


#customer-title {
  border-bottom: 1px #1e4d8c solid;
}

#review-wrapper {
  width: 90vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

#review-wrapper::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

#review-wrapper::-webkit-scrollbar-track {
  background-color: #1e4d8c;
}

#review-wrapper::-webkit-scrollbar-thumb {
  background-color: #ed7036;
}

#review-con {
  height: -moz-fit-content;
  height: fit-content;
  /* width: 100%; */
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
  padding: 2rem;
  z-index: 100;
}

.customers-wrapper {
  padding: 10rem 0 10rem 10rem;
}

.arrow-btn-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1rem);
  gap: 2rem;
}

.arrow-btn {
  width: 2rem;
  height: 2rem;
  fill: #1e4d8c;
  background-color: #efefef;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.arrow-btn:hover {
  background-color: #333333;
  cursor: pointer;
  transition-duration: 0.3s;
}

.review-box {
  flex: 0 0 auto;
  float: right;
  background-color: rgb(247, 247, 247);
  width: 20rem;
  box-shadow: 0rem 0.5rem 1rem rgb(220, 224, 226);
  border: solid 2px rgb(247, 247, 247);
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  z-index: 100;
  transition-duration: 0.3s;
}

.review-box:hover {
  border: solid 2px var(--orange);
  transition-duration: 0.3s;


}

.review-box-wrapper .fg {
  gap: 5px;
}

.team-member {
  flex: 0 0 auto;
  float: right;
  background-color: rgb(247, 247, 247);
  width: 20rem;
  box-shadow: 0rem 0.5rem 1rem rgb(220, 224, 226);
  border: solid 2px rgb(247, 247, 247);
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  z-index: 100;
  transition-duration: 0.3s;
}

.team-member:hover {
  transition-duration: 0.3s;
  box-shadow: 0rem 0.5rem 1rem rgb(210, 214, 216);

}

.team-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  filter: grayscale(50%);
  transition-duration: 0.3s;
}

.team-member:hover .team-img {
  filter: grayscale(0%);
  transition-duration: 0.3s;

}

.team-member-wrapper:hover {
  cursor: grab;
}

.team-member-wrapper .fg {
  gap: 5px;
}


.team-member-wrapper:hover {
  cursor: grab;
}

#our-team-wrapper {
  width: 90vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

#our-team-wrapper::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

#our-team-wrapper::-webkit-scrollbar-track {
  background-color: var(--lightBlack);
}

#our-team-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--darkBlack);
}

#company-humble-beginnings {
  padding: 5rem 0 5rem 0;
}

#company-careers,
#exp-collaborations {
  background-color: var(--lightGray);
}

.medicaid1 {
  fill: #026666;
}

.medicaid2 {
  fill: #565656;
}

.beginnings {
  flex: 0 0 auto;
  float: right;
  width: 25rem;

  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  z-index: 100;
  transition-duration: 0.3s;
  border-top: transparent solid 2px;
  border-bottom: transparent solid 2px;

}

.beginnings:hover {
  transition-duration: 0.3s;
  border-top: white solid 2px;
  border-bottom: white solid 2px;

}

.beginnings-img {
  width: 100%;
  height: 30vh;

  transition-duration: 0.3s;
}

.beginnings:hover .team-img {
  transition-duration: 0.3s;

}

.beginnings-wrapper:hover {
  cursor: grab;

}

.beginnings-wrapper .fg {
  gap: 5px;
}


.beginnings-wrapper:hover {
  cursor: grab;
}

#beginnings-con {
  width: 90vw;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left: 10rem;
}

#beginnings-con::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

#beginnings-con::-webkit-scrollbar-track {
  background-color: var(--lightBlack);
}

#beginnings-con::-webkit-scrollbar-thumb {
  background-color: var(--darkBlack);
}

.slide-btn-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  height: 14vh;
}

.slide-btn {
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* 
#covid .mesh-gradient {
  position: absolute;
  height: 13%;
  width: 100vw;
  border: red solid 1px;
  z-index: -1;
  object-fit: fill;
} */

#covid-home-content {
  flex-wrap: nowrap;
}

#covid h2 {
  text-align: center;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid h1 {
  text-align: center;
  font-size: 9rem;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid-aboutus {
  padding: 10rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1fr ;
  align-items: center;
  justify-items: center;
}

/* 
#covid button {
  transform: translate(0, 4rem);
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: none;
}

#covid img {
  width: 2rem;
  height: 2rem;
} */

.nextBtn {
  padding: 10rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.scrollDownBtn {
  padding: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: max-content 60%;
  align-items: center;
  justify-items: center;
}

.nextBtn button {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  transform: translate(0, 4rem);
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 2px transparent solid;
  transition-duration: 0.3s;
}

.scrollDownBtn button {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 2px transparent solid;
  transition-duration: 0.3s;
  transform: rotate(90deg);

}

.nextBtn:hover button {
  background-color: transparent;
  transition-duration: 0.3s;
  border: 2px white solid;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
}

.scrollDownBtn:hover button {
  background-color: transparent;
  transition-duration: 0.3s;
  border: 2px white solid;
  cursor: pointer;
}

.scrollDownBtn p {
  transition-duration: 0.3s;
}

.scrollDownBtn:hover p {
  transition-duration: 0.3s;
  margin-left: 2rem;
  cursor: pointer;
}

#right-arrow {
  scale: 40%;
  transition-duration: 0.3s;

}

.nextBtnhover #right-arrow {
  scale: 50%;
  transition-duration: 0.3s;

}

.nextBtn:hover .right-arrow-line {
  stroke: white;
}

.nextBtn:hover .right-arrow-head {
  stroke: white;
}

.scrollDownBtn:hover .right-arrow-line {
  stroke: white;
}

.scrollDownBtn:hover .right-arrow-head {
  stroke: white;
}

.nextBtn img {
  width: 2rem;
  height: 2rem;
}

.scrollDownBtn img {
  width: 2rem;
  height: 2rem;
}

.nextBtn h1 {
  text-align: center;
  font-size: 9rem;
  padding: 0 0 2rem 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#covid-para1 {
  width: 65%;
  padding-right: 2rem;
  font-size: x-large;
  font-weight: 500;
}

.covid-para2 {
  font-size: medium;
  font-weight: 500;
}

.covid-para2-con {
  padding: 0 0 0 1rem;

}

#footer {
  border-top: 1px white solid;
  padding-top: 5rem;
}

#footer-content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.footer-title {
  width: 100%;

  padding-right: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-title h2 {
  font-size: 3rem;
}

.footer-title p {}


.links {
  padding-top: 1.4rem;
  padding-left: 1.4rem;
}

.link-box {
  width: 16vw;
}

.link-box .text-med {
  padding-top: 0 0 0 1rem;
}

.link {
  padding-bottom: 1ch;
  color: lightblue;
}

.link:hover {
  color: white;
  cursor: pointer;
}


.desktop-sections {
  width: 30%;
  padding: 2rem 0 2rem 0;
}

#nemt-desktop {
  background-color: rgb(237, 112, 56);
  padding: 2rem;
  float: right;
}

#nemt-wrapper {
  display: grid;
  grid-template-columns: 30% 30% auto;
  gap: 2rem;
  justify-content: end;
}

#nemt-desktop h1 {
  font-size: 4rem;
  padding: 0.2rem 0 0.2rem 0;
}

#nemt {
  background-color: rgb(237, 112, 56);
}

#nemt h1 {
  font-size: 2rem;
  padding: 0.2rem 0 0.2rem 0;
}






.evolution-container {
  display: flex;
  flex-wrap: nowrap;
}

#evo-color-boxes {
  display: flex;
  flex-wrap: wrap;
}

#back-hero {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #1e4d8c;
  top: 5rem;

}

.max1080 {
  display: none;
}

.years {
  height: 40vh;
  width: 200px;
}

.evolution-wrapper {
  height: 100vh;
}

#yearsAndChartWrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chart-box {
  width: 6rem;
}

.evo-box {
  height: 6rem;
  width: 6rem;
}

.chart-box p {
  padding: 7px 7px 7px;
  font-size: small;
  font-weight: 400;
}

.chart-box h3 {
  padding-left: 7px;
}

.trips {
  border-left: 7px #ed7036 solid;
  background-color: rgba(237, 112, 54, 0.5);
}

.miles {
  border-left: 7px #1c98cb solid;
  background-color: rgba(28, 152, 203, 0.5);
}

.clients {
  border-left: 7px #689f38 solid;
  background-color: rgba(104, 159, 56, 0.5);
}

.chart-vh {
  height: 30vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#back-hero:hover {
  cursor: pointer;
}

#chart-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow: hidden;
  overflow-x: hidden;
}

.chart-details {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#year {
  display: flex;
  position: relative;
  align-items: end;
  text-align: right;
  border-bottom: 5px white solid;
  width: 70vw;
}

.year-css {
  position: absolute;
  bottom: 0;
}

.year-small {
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.5;
}

.year-small:hover {
  opacity: 1;
  cursor: pointer;
}

.year-large {
  font-size: 8rem;
  font-weight: 500;
}

#y2019 {
  position: absolute;
}

#y2020 {
  transform: translate(50vw, 0);
  opacity: 0.5;
}

#y2021 {
  transform: translate(60vw, 0);
  opacity: 0.5;
}

#y2022 {
  transform: translate(70vw, 0);
  opacity: 0.5;
}

#evo-title {
  font-size: 4rem;
}

#chart-div {
  display: flex;
  width: 60vw;
}

.svg-items {
  /* margin: 0 0 0 1rem; */
}

/* #svg-content-2 {display: none;}
#svg-content-3 {display: none;}

#svg-content-4{display: none;} */

#svg-content-2 path {
  opacity: 0;
}

#svg-content-3 path {
  opacity: 0;
}


#svg-content-4 path {
  opacity: 0;
}

.tick line {
  opacity: 0.5;
}

.tick text {
  font-weight: bold;
}

.domain {
  opacity: 0;
}

#customers {
  height: 100vh;
}

.company-intro-top {
  background-color: #def6fe;
  width: 100vw;
  height: 10vh;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#company-intro {
  background-image: url('/images/company/bg-company-dkcare-transformed.png');
  background-size: 100vw;
  /* width: 100vw; */
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* border: red solid 1px; */
}

#how-intro {
  background-image: url('/images/how-it-works/how-car-bg.png');
  background-size: 100vw;
  /* width: 100vw; */
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* border: red solid 1px; */
}

#background-logo {
  background-image: url('/images/company/logo-3d-dkcare-transformed.png');
  background-size: 100%;
  /* border: red solid 1px; */
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.questionBox {
  background-color: white;
}

.answer {
  height: 0px;
  overflow: hidden;
  margin-left: 5rem;
}

@media only screen and (max-width: 1400px) {
  #desktop-third h1 {
    font-size: 4rem;
  }

  #menu-contact {
    padding: 1rem;
  }

  #desktop-first h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .number h3 {
    font-size: 1rem;
  }

  #anchors {

    z-index: 10001;
    height: 6rem;
    top: 4rem;
    max-width: 100%;
  }

  #anchors-con {
    /* border: 1px red solid; */

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    height: 6rem;
    margin-left: 2rem;
  }


  #anchors span {
    width: auto;
    padding: 5px;
    border-right: white 2px solid;
    border-radius: 1px;
    overflow: hidden;
    height: 15px;
    transition-duration: 0.3s;

  }

  #anchors span:hover {
    background-color: white;
    overflow: visible;
    height: max-content;
    transition-duration: 0.3s;
  }

  #menu-contact {
    padding: 1rem;
  }

  #menu-items {
    padding: 2rem 1.5rem 0.5rem 4rem;
    border: none;
  }

  #menu-items h2 {
    font-weight: 500;
    font-size: 5rem;
    transition-duration: 0.3s;
    color: white;
    line-height: 5rem;
    padding-bottom: 0rem;

  }

  #menu-items span {
    display: inline-block;
    transform: translate(-50%, -50%);
    width: 0%;
    scale: 0 0;

    transition-duration: 0.8s;
  }

  #menu-items h2:hover span {
    cursor: pointer;
    scale: 0.5 0.5;
    width: 10%;

    transition-duration: 0.3s;

    transform: translate(0%, -32%);
  }

  .covid-para2-con {
    padding: 0rem;
  }

  .fg {
    gap: 1rem;
  }

  #covid-para1 {
    width: 100%;
    padding-right: 2rem;
    font-size: large;
    font-weight: 500;
  }

  .con-pd {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .con-pd-tb {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .tech-header-shrink {
    display: block;
  }

  .tech-header-main {
    display: none;
    width: 100%;
  }

  .tech-header-main-replace {
    display: block;
  }

  .tech-img-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tech-img-2 {
    grid-template-columns: [col1] 1fr [col2] 2fr [col3] 1fr [col4] 2fr [col5] 1fr;
  }

  .tech-img-box {
    height: 90%;
  }

  .tech-img-box h2 {
    font-size: medium;
  }

  .tech-img-box p {
    font-size: small;
  }

  .year-large {
    font-size: 6rem;
  }

  .year-small {
    font-size: 2rem;
  }

  .exp-img-con {
    flex-wrap: wrap;
  }

  .text-large {
    font-size: medium;
  }

  .exp-img {
    width: 300px;
    height: 200px;
  }

  .title {
    font-size: 4rem;
  }

  #desktop-second h1 {
    font-size: 4rem;
    padding: 2rem 0 2rem 0;
    font-weight: 400;
    line-height: 1.2;
  }

  .text-xlarge {
    font-size: large;
  }
.questionBox .title-bd-container p {
  width: 75%;
  font-size: small;
  font-weight: 400;
}

  .title-bd-container h2 {
    font-size: medium;
    font-weight: 800;
  }

  .title-bd-container p {
    font-size: small;
    font-weight: 400;
  }

  .desktop-page {
    padding: 5rem 0 0 0;
  }

  #nemt-wrapper {
    grid-template-columns: 0 0 auto;
    gap: 0;
  }

  #nemt-content {
    display: flex;
    align-items: center;
  }

  #nemt-content h1 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem;
  }

  #covid-aboutus {
    padding: 2rem 0 2rem 0;
  }

  #covid-aboutus button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
  }

  #covid h2 {
    font-size: 2rem;
    letter-spacing: normal;

  }

  #covid h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  #services-main-line {
    font-size: medium;
    font-weight: 400;
  }

}

@media only screen and (max-width: 1080px) {
  #logo-loading {
    height: auto;
    width: 50%;
  }

  .wPer40 {
    width: 100%;
  }

  .wPer33 {
    width: 66%;
  }

  .title {
    font-size: 4rem;
    font-weight: 400;
  }

  .years-wrapper .evo-tagline {
    width: 100%;
    display: none;
  }

  #menu-container {

    grid-template-columns: 0px 70% 30%;
  }

  .max1080 {
    display: block;
    margin: 1rem 0 1rem 0;
  }

  .years-wrapper .chart-vh {
    height: 10vh;
  }

  #line-chart .chart-vh {
    height: 30vh;
  }

  .fw {
    flex-wrap: wrap;
  }

  .wPer1 {
    width: 45%;
  }

  .wPer3 {
    width: 100%;
  }

  .wPer20 {
    width: 30%;
  }

  .wPer47 {
    width: 100%;
  }

  .mid-bd {
    transform: translate(0, -1rem);
  }

  .mid-bd-blue {
    transform: translate(0, -1rem);
  }

  .tech-flex {
    justify-content: center;

    flex-wrap: wrap;
  }

  .bd-right {
    border-bottom: 2px #1e4d8c dashed;
    width: 100%;
  }

  .text-align-center {
    text-align: center;
    height: 20vh;
    display: grid;
    height: auto;
    padding: 1rem 0 1rem 0;

  }


  #line-chart {
    height: 100%;
    width: 100%;
  }

  .mobile {
    display: none;
  }

  #tech-our-founders {
    font-size: small;
    font-weight: 600;
    padding: 0;
  }

  #tech-we-pride {
    font-size: small;
    padding: 0 0 0 0;
    transform: translate(0, 0);
  }

  .chart-box {
    width: 5rem;
    /* height: 4rem; */
  }

  .chart-box p {
    font-size: 0.6rem;
    width: 4rem;
  }

  .chart-box h3 {
    font-size: 1rem;
  }

  .evo-box {
    height: 4.5rem;
    width: 5rem;
  }

  #footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .link-box .text-med {
    padding-top: 1rem 0 0 0;
  }

  .nextBtn h1 {
    text-align: center;
    font-size: 5rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;

  }

  .nextBtn button {
    transform: translate(0, 2rem);
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    border: none;
  }

  .scrollDownBtn button {
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    border: none;
  }
  .answer {
   
    margin-left: 0rem;
  }

  .split-line-medium,.split-line{
      height: auto;
  }
}

@media only screen and (max-width: 800px) {
  #contact-numbers .number {
    background-color: white;
    border-radius: 2rem;
    font-weight: 900;
    display: grid;
    grid-template-columns: auto 40px;
    justify-content: center;
    font-weight: 900;
    align-items: center;
    width: max-content;
    height: 40px;
  }

  .desktop-transport-grid2,
  #desktop-transport-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  #anchors {
    display: none;
  }

  #menu-items {
    padding: 2rem 1rem 0rem 2rem;
    border: none;
  }

  #menu-items h2 {
    font-weight: 500;
    font-size: 3rem;
    transition-duration: 0.3s;
    color: white;
    line-height: 4rem;
    padding-bottom: 0rem;

  }

  #covid-home-content {
    flex-wrap: wrap;
  }

  .wPer1 {
    width: 100%;
  }

  .wPer2 {
    width: 100%;
  }

  .con-pd {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .year-large {
    font-size: 4rem;
  }

  .year-small {
    font-size: 1.5rem;
  }

  .wPer20 {
    width: 50%;
  }

  #desktop-second h1 {
    font-size: 3rem;
    padding: 1rem 0 1rem 0;
    font-weight: 400;
    width: 100%;
  }

  #desktop-third h1 {
    font-size: 2rem;
    width: 100%;
    font-weight: 600;
  }

  #evo-title {
    font-size: 2rem;
  }

  .desktop-sections {
    width: 100%;
    padding: 0.2rem 0 0.2rem 0;
  }

  .flex-container {
    gap: 0.5rem;
  }

  #nemt-desktop {
    margin-top: 1rem;
  }

  #nemt-content h1 {
    font-size: 2rem;
    width: 10rem;
    font-weight: 500;
    padding: 0 1rem 0 0;
  }

  #list-third {
    width: auto;
  }

  #list-third .flex {
    flex-wrap: wrap;
    gap: 0;
  }

  #desktop-third h1 {
    padding: 0.5rem 0 0.5rem 0;
  }

  #desktop-third .flex-container {
    gap: 0.2rem;
  }

  #our-drivers {
    margin-top: 1rem;
    width: 100%;
  }

  #our-drivers h2 {
    padding: 0.2rem;
  }

  .flex {
    gap: 0.2rem;
  }

  .title {
    font-size: 3rem;
  }

  #desktop-first .title {
    font-size: 4rem;
  }


  .exp-img-con {
    flex-wrap: nowrap;
    gap: 0;
  }

  .exp-img {
    width: 50%;
  }

  .services-left-img {
    display: none;
  }

  .services-grid-1 {
    grid-template-columns: 1fr;
  }

  #services-img {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .serv-right-top-img {
    width: 100%;
    height: 50vh;

    object-position: 60% 20%;
  }

  .serv-right-btm-img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1rem;
  }

  .year-small {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  #desktop-first .title {
    font-size: 3rem;
    font-weight: 500;

  }

  .wPer20 {
    width: 100%;
  }

  .year-small {
    font-size: 1.2rem;
    padding-right: 5px;
  }

  .links {
    flex-wrap: wrap;
  }

  .chart-vh {
    width: 80%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 320px) {

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .customers-wrapper .con-tb {
    padding: 4rem 0 2rem 0;

  }

  .con-tb {
    padding: 2rem 0 2rem 0;
  }

  .btn-orange {
    height: 1.5rem;
  }

  .navigation-main {
    grid-template-columns: 40% auto 0px;

    padding: 1rem 0rem 4rem 0rem;
    height: 1rem;
  }

  .exp-img {
    width: 50%;
    height: 8rem;
  }

  .tech-img-box {
    height: 40vh;
  }

  .desktop-technologies {
    display: none;
  }

  .mobile-technologies {
    display: block;
  }

  .chart-vh {
    width: 80%;
    margin: 1rem;
  }

  #year.chart-vh {
    height: 10vh;
  }

  .year-large {
    font-size: 3rem;
  }

  .year-small {
    font-size: 0.9rem;
    padding-right: 5px;
  }


  .pd-title {
    padding: 0.1ch 0 0.1ch 0;
  }

  .text-med {
    font-size: small;
    font-weight: 400;
  }

  .text-large {
    font-size: medium;
    font-weight: 500;
  }

  .btn-black-pd {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  #exp-bd {
    transform: translate(0, 50%);
  }

  .navigation-main {
    grid-template-columns: 50% auto 0px;

    padding: 0rem 0rem 4rem 0rem;
    height: 1rem;
  }

  /* #menu-container {
    display: grid;
    height: 100%;
    grid-template-rows: 0% 55% 45%;
    background: linear-gradient(0deg, rgba(30, 77, 140, 1) 0%, rgba(40, 84, 153, 1) 100%);


  } */

  #menu-contact {
    height: 100%;
    background: none;
    padding: 2rem 2rem 0 2rem;

  }

  #menu-logo {
    height: 0px;
    background: none;

  }

  #menu-links {
    height: auto;
    /* height: 100%; */
    background: none;
    border-right: none;

  }

  #menu-items {
    padding: 4rem 1.5rem 0.5rem 1.5rem;
    border: none;
  }

  #menu-items h2 {
    font-weight: 500;
    font-size: 2.5rem;
    transition-duration: 0.3s;
    color: white;
    line-height: 3rem;
    padding-bottom: 0.3rem;

  }

  #menu-privacy {
    padding-top: 0.5rem;
    flex-wrap: nowrap;
    gap: 0rem;
  }

  #menu-privacy .text-large {
    font-size: small;
  }

  #logo,
  #logo-white {
    padding: 1rem;
    width: 90%;
  }

  .madeBy {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 1rem;

    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

  }

  #menu-other-links {
    padding: 1rem;
  }

  #links-faq {
    flex-direction: row;
    gap: 1rem;
    padding-top: 0rem;
  }

  #links-faq .text-xlarge {
    font-size: x-large;
    font-weight: 500;

  }

  #contact-numbers {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 1rem;


  }

  .contact-number {
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
    /* height: 1.5rem; */


  }

  .contact-number h2 {
    padding-bottom: 0.3rem;
  }

  #contact-numbers .number {
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 900;
    height: 1.5rem;
  }

  .number h3 {
    font-size: 1rem;
  }
}

@media only screen and (-webkit-max-device-pixel-ratio: 1) {}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .navigation-main {
    grid-template-columns: 45% auto 20%;
    padding: 0rem 0rem 4rem 0rem;
    height: 1rem;
  }

  #menu-container {
    display: grid;
    grid-template-rows: 0px 60% 40%;
    grid-template-columns: none;
    background: linear-gradient(0deg, rgba(30, 77, 140, 1) 0%, rgba(40, 84, 153, 1) 100%);
    width: 100%;
    justify-items: center;
  }

  #menu-contact-wrapper {
    background-color: inherit;
    height: auto;
  }

  #menu-contact {
    height: auto;
    background: none;
    padding: 0rem 2rem 0 2rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 50% 50%;
  }

  #menu-logo {
    height: 0px;
    background: none;

  }

  #menu-links {
    height: auto;
    /* height: 100%; */
    background: none;
    border-right: none;

  }

  #menu-items {
    padding: 4rem 1.5rem 0.5rem 1.5rem;
    border: none;
  }

  #menu-items h2 {
    font-weight: 500;
    font-size: 2rem;
    transition-duration: 0.3s;
    color: white;
    line-height: 3rem;
    padding-bottom: 0rem;

  }

  #menu-privacy {
    padding-top: 0.5rem;
    flex-wrap: nowrap;
    gap: 0rem;
  }

  #menu-privacy p {
    font-size: small;
    font-weight: 300;
  }


  #logo,
  #logo-white {
    padding: 1rem;
    width: 90%;
  }

  .madeBy {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 1rem;

    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;

  }

  #menu-other-links {
    padding: 1rem;
    width: auto;
  }

  #links-faq {
    flex-direction: row;
    gap: 1rem;
    padding-top: 0rem;
  }

  #links-faq .text-xlarge {
    font-size: large;
    font-weight: 300;

  }

  #contact-numbers {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: center;

  }

  .contact-number {
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
    /* height: 1.5rem; */
  }

  .contact-number h2 {
    padding-bottom: 0.3rem;
    font-size: 0.8rem;

  }

  #contact-numbers .number {
    background-color: white;

    grid-template-columns: auto 40px;

    height: 40px;
  }

  #contact-numbers h3 {
    font-size: 0.8rem;
  }

  #logo-loading {
    height: auto;
    width: 50%;
  }

  #desktop-first .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .cen {
    margin: 0;
    width: auto;
    padding: 10px;
  }

  #scroll-skip-mobile {
    font-size: 0.8rem;
    display: flex;
    overflow: hidden;
    height: 1rem;
    width: 4rem;
    background-color: var(--orange);
    border-radius: 1rem;
    padding-bottom: 2px;
    transition-duration: 0.3s;
  }

  #scroll-skip-mobile h3 {
    color: white;
    font-size: 0.8rem;
    padding-left: 1rem;

  }

  #scroll-skip-mobile:hover {
    overflow: visible;
    transition-duration: 0.3s;
  }

  #scroll-skip {

    display: none;
  }

  .hero-titles {
    padding: 0 0 0.5rem 0;
  }

  .desktop-page {
    padding: 3.5rem 0 0 0;
  }

  #desktop-transport {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  #desktop-transport h1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #desktop-second,
  #desktop-third h1 {
    font-size: 1.5rem;
    font-weight: 600;

  }

  #desktop-second #comfort p {
    font-size: small;
    font-weight: 600;
  }

  .section p {
    font-size: small;
    font-weight: 400;
  }

  #nemt-desktop {
    margin-top: 1rem;
    padding: 1rem;
  }

  #nemt-content {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #nemt-content h1 {
    display: none;
    /* margin-right: 1rem;

    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem; */
  }

  #desktop-transport-2,
  .desktop-transport-grid2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  #desktop-third .flex-container {
    gap: 0;
  }

  #list-third span {
    font-size: 0.6rem;
  }

  #list-third h4 {
    font-size: 0.6rem;
  }

  #desktop-hero-content h4 {
    font-size: 0.8rem;
  }

  .tab2 {
    grid-template-columns: 2rem auto;
  }

  #our-drivers {
    padding: 1rem;
    margin-top: 1rem;
  }

  #our-drivers h4,
  h2 {
    font-size: small;
    font-weight: 500;
  }

  #desktop-transport-2 h1 {
    width: 100%;
  }

  .expertise-wrapper-2 {
    padding: 1rem 0 0 0;
  }

  .wPer20 {
    width: 100%;
  }

  .wPer33 {
    width: 100%;
  }

  .con-pd {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .con-tb {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .wPer40 {
    width: 100%;
  }

  .gap40 {
    gap: 0
  }

  #scene {

    position: fixed;
    top: 0;
    left: 0;
  }



  #desktop-hero-content {
    /* border: red 1px solid; */
    /* width: 70%; */
  }

  .desktop-technologies {
    display: none;
  }

  #anchors {
    display: none;
  }

  .mobile-technologies {
    display: block;
  }

  #tech-our-founders {
    font-size: small;
    font-weight: 600;
    padding: 0;
  }

  .tech-img-box {
    height: 40vh;
  }

  #covid h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  #covid-home-content {
    flex-wrap: wrap;
  }

  .chart-details {
    flex-wrap: nowrap;
    display: flex;
  }

  .evo-box {
    height: 4.5rem;
    width: 5rem;
  }

  #chart-div {
    width: 70vw;
  }

  .chart-box {
    width: 5rem;
    /* height: 4rem; */
  }

  .chart-box p {
    font-size: 0.6rem;
  }

  #services-main-line {
    font-size: medium;
    font-weight: 400;
  }

  .services-wrapper {

    padding: 5rem 1rem 5rem 1rem;
  }

  .text-align-center {
    display: grid;
    height: auto;
    padding: 1rem 0 1rem 0;
  }

  #tech-we-pride {
    font-size: small;
    padding: 0 0 0 0;
    transform: translate(0, 0);
  }

  .evolution-wrapper {
    height: 100vh;
    padding-bottom: 10rem;

  }

  #review-con {
    width: auto;
    padding: 1rem;
  }

  .covid-para2-con {
    padding: 0rem;
  }

  #covid h2 {
    font-size: 2rem;
    letter-spacing: normal;

  }

  #covid #covid-para1 {
    width: 100%;
    font-size: large;
    font-weight: 400;
  }

  .covid-para2-con {
    width: 100%;
    padding: 1rem 0 0 0;
  }

  .covid-para2 {
    font-size: small;
    font-weight: 300;
  }

  #covid-aboutus {
    padding: 2rem 0 2rem 0;
  }

  .nextBtn {
    padding: 2rem 0 2rem 0;

  }

  .nextBtn h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0 0 2rem 0;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .scrollDownBtn p {
    margin-left: 2rem;
  }

  #covid-aboutus button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
  }


  .nextBtn button {
    padding: 2rem 0 2rem 0;
    scale: 0.8;
    border-radius: 5rem;
    transform: translateY(2rem);
    margin-bottom: 1rem;
  }

  .nextBtn img {
    width: 2rem;
    height: 2rem;
  }

  .scrollDownBtn img {
    width: 2rem;
    height: 2rem;
  }

  .modal {
    display: block;
  }

  #footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .links {
    flex-wrap: wrap;
  }

  .company-intro-top {
    background-color: #e0f6ff;

    width: 100%;
    height: 10vh;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
  }

  #company-intro {
    background-size: contain;
    background-repeat: no-repeat;

  }

  #how-intro {
    background-size: contain;
    background-repeat: no-repeat;

  }

  #background-logo {
    background-size: 100%;
    /* border: red solid 1px; */
    /* background-attachment: scroll; */
    background-position: 0px 60%;
    background-repeat: no-repeat;

  }

  .team-member {
    width: 10rem;

  }

  #our-team-wrapper {
    width: 100vw;
    padding: 1rem;
  }

  .team-member h1 {
    font-size: 1.5rem;
  }

  #beginnings-con {
    width: 50vw;
    overflow-y: hidden;
    overflow-x: scroll;

  }

  .beginnings {
    width: 15rem;
  }

  .beginnings p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .numberBtnWrapper {
    display: grid;
    align-items: center;
    height: 35vh;
  }
  .split-line-medium,.split-line{
    height: auto;
}
}