.mainTitle {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;

  padding: 2rem 0 2rem 0;
}

#services-nemt .mainTitle {
  line-height: 5.5rem;
}
.howfaq .mainTitle{
  font-size: 10rem;
}
.titleLarge {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;

}

.secTitle {
  font-size: 4rem;
  font-weight: 600;
  /* border-top: 1px var(--blue) solid;
  border-bottom: 1px var(--blue) solid; */

}

.secTitle2 {
  font-size: 3rem;
  font-weight: 600;
}

.listItems {
  text-align: left;
  width: 100%;
}

.tab2 {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
  transition-duration: 0.3s;
}
.tab2 span{
padding-right: 0.5rem;
}
.tab2:hover {
 background-color: var(--blue);
 cursor: pointer;
 transition-duration: 0.3s;
}
.tab2:hover h4 {
  color: white;
  
  transition-duration: 0.3s;
 }
 .tab2:hover span {
  color: white;
  transition-duration: 0.3s;
 }
.container {
  padding: 5rem 10rem 5rem 10rem;
}

.container2 {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.img100 {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 2rem;
  margin: 2rem 0 2rem 0;
}

.img50 {
  width: 50%;
  height: 60vh;
  object-fit: cover;
  border-radius: 2rem;
  margin: 2rem 0 2rem 0;
}

.img100small {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 2rem;
  margin: 2rem 0 2rem 0;
}
.img100small2 {
  width: 55%;
  height: 30vh;
  object-fit: cover;
  border-radius: 2rem;
  margin: 2rem 0 2rem 0;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
}

.fg2 {
  gap: 5rem;
}

#services-nemt .fg2 {
  padding: 0 0 2rem 0;
}

.pdTopBtm {
  padding: 1rem 0 1rem 0;
}

.textpd1 {
  padding: 0.5rem 0 0.5rem;
}

.textXL {
  font-size: 3rem;
}

.textL {
  font-size: 2rem;
}

.textM {
  font-size: 1.5rem;
}

.textS {
  font-size: 1rem;
}

.marText5 {
  margin: 0 10% 0 10%
}

.collab {
  color: var(--blue);
  display: grid;
  padding: 2rem 5rem 2rem 5rem;
  gap: 5%;

  grid-template-columns: repeat(4, 20%);
}

.collab div {
  background-color: white;
  height: auto;
}

.collabImg {
  width: 100%;
  object-fit: contain;
  border-radius: 2rem;
}

.orangeBox {
  margin: 1rem 0 1rem 0;
  background-color: var(--orange);
  padding: 1rem;
}
.orangeBox2{
  background-color: var(--orange);
  padding: 0 0.5rem 0 0.5rem ;
  border-radius: 0.8rem;

}
.servicesNemt {
  display: flex;
  flex-wrap: nowrap;

}

.wPer45 {
  width: 45%;
}

/* Technologies */
.ourTechnologies {}

.ourTechnologies h4 {
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  /* margin-bottom: 0.5rem; */
}

.ourTechnologies span {
  display: grid;
  justify-content: end;

}

.ourTechnologies .tab2 {
  display: grid;
  grid-template-columns: auto 10%;
}

.aiPoweredImg {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 35vh;
  margin: 2em 0 2rem 0;
  object-fit: cover;

}

.aiPoweredImg img {

  width: 49.5%;
  height: auto;
  object-fit: cover;

}

.aiPoweredImg1 {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.aiPoweredImg2 {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.aiPoweredImgGap {
  background-color: white;
  width: 1%;
}

.aboutTitle {
  font-size: 7rem;
  font-weight: 550;
  line-height: 1;

  padding: 0 0 2rem 0;
}

.imgAbout {
  width: 50vw;
  height: 100%;
  object-fit: cover;
}

.aboutSection {
  display: flex;
  flex-wrap: nowrap;
}

.aboutContent {
  width: 35%;
  margin: 0 5% 0 10%;
}

.companyHeroImg {

  width: 100vw;
  height: auto;
  top: 0;
  z-index: -2;
}

.companyHeroLogo {
  /* position: absolute; */
  z-index: 1;
  transform: translate(0, -10%);
  height:100%;
  width: auto;
}
.introContent1{
  height: 100vh;
}
.comapanyIntro2{
  background: linear-gradient(180deg, rgba(220,230,235,1) 38%, rgba(220,230,235,0) 100%);
  margin-bottom: 5rem;
}
.availableTitle {
  font-size: 6rem;
  font-weight: 500;
}

.availableContent {
  display: flex;
  gap: 2rem;
  align-items: center;

}

.orangeStrip {
  background-color: var(--orange);
  height: 5rem;
  left: 0;
  right: 0;
  position: absolute;
  transform: translate(0, 25vh);
}

.jobTitleCon {
  width: 100%;
}
/*COMPANY */
.mission{

}
.mission h2{
  padding-left: 2rem;
}
.mission p{
  background-color: white;
  padding-left: 2rem;
}
.vision{

}
.vision h2{
  padding-left: 2rem;
}
.vision p{
  background-color: white;
  padding-left: 2rem;
}
.jobCon {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.applyBtn {
  padding: 5px;
  justify-content: center;
  background-color: var(--orange);
  border-radius: 2rem;
  border: transparent 1px solid;
  width: 150px;
  height: 50px;
}

.applyBtn p {
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.circle {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 1.5rem;
}
.circle2 {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 1.5rem;
  background-color: var(--darkBlack);
  justify-self: end;
  margin-right: 7px;
}
.applyNow {
  width: 100%;
}
.numberBtnWrapper{
  display: flex;
  flex-wrap: nowrap;
  row-gap: 2rem;
  column-gap: 2rem;
  gap:2rem;
  align-items: center;
  justify-content: center;

}
.numberBtn{
  display:grid;
  /* padding: 5px; */
  justify-content: center;
  background-color: #e7ebee;
  border-radius: 2rem;
  border: transparent 1px solid;
  width: auto;
  height: 50px;
  align-items: center;
}
.numberBtnCon{
  /* style={{ display: 'grid', alignItems: 'center', gridTemplateColumns: 'auto 50px' }} */
  display: grid;
  align-items: center;
  grid-template-columns: auto 50px;

}
.callus{
  background-color: white;
  padding:1rem 2rem 1rem 2rem;
}
.getInTouch{
  display: flex;
  background-color: white;
  padding: 2rem 4rem 4rem 4rem;
  border-radius: 2rem;
}
.contact{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.numberBg{
  background-color: #e7ebee;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
}
.numberBg2{
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
}
.numberBg2 h3{
  font-size: 1.25rem;
  width: 100%;

}
.faqCon{
  border-top: 1px solid var(--lightBlack);
  /* border-bottom: 1px solid var(--lightBlack); */
  padding: 5rem 0rem 5rem 1rem;
  background-color: white;
  transition-duration: 0.3s;
}
.faqCon:hover{
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
  background-color: var(--blue);
  cursor: pointer;
  transition-duration: 0.3s;
}
.numberCon{
  color: var(--darkBlack);
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--darkBlack);
  border-radius: 2rem;
  display: grid;
  
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 3rem;
  transition-duration: 0.3s;
}
.faq{
  color: var(--darkBlack);
  margin-bottom: 1rem;
}
.faqCon:hover .faq{
  color: white;
}
.faqCon:hover .numberCon{
  color: white;
  border: 1px solid white;
  font-weight: 600;
  transition-duration: 0.3s;
}
.faqWrapper{
  display: grid;
  grid-template-columns: 5rem 80%;
}
@media only screen and (max-width:1280px) {

  .servicesNemt {
    flex-wrap: wrap;
  }

  .wPer45 {
    width: 100%;
  }
}

/*1080 for each page Needs update */
/* @media only screen and (max-width:1080px) {

  .container{
    padding:  5rem 1rem 5rem 1rem;
  }
  .wPer2{
    width: 100%;
  }
  .mainTitle{
    font-size: 3rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
    line-height: normal;
  }
 
  .secTitle{
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;


  }
  .img100,.img50{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 2rem;
    margin: 2rem 0 2rem 0;
  }
  .pdTopBtm{
    padding: 0.5rem 0 0.5rem 0;
  }
  .textXL{
    font-size: 2rem;
  }
  .textL{
    font-size: 1.5rem;
  }
  .textM{
    font-size: 1.25rem;
  }
  .textS{
    font-size: 1rem;
  }
  .marText5{
    margin: 0
  }
  .collab{
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    gap:5%;
  
    grid-template-columns: repeat(2,50%);
  }
  .listItems{
    padding: 0.2rem 0 0.2rem 0;

  }
  .tab2 {
    grid-template-columns: 2rem auto;
  }
  
} */
@media only screen and (max-width:1400px) {
  .numberBtnWrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
 
}
@media only screen and (max-width:1080px) {

  .container {
    padding: 5rem 1rem 5rem 1rem;
  }

  .wPer2 {
    width: 100%;
  }

  .mainTitle {
    font-size: 3rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
    line-height: normal;
  }

  .secTitle {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;


  }

  .img100,
  .img50 {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 2rem;
    margin: 2rem 0 2rem 0;
  }

  .pdTopBtm {
    padding: 0.5rem 0 0.5rem 0;
  }

  .textXL {
    font-size: 2rem;
  }

  .textL {
    font-size: 1.5rem;
  }

  .textM {
    font-size: 1.25rem;
  }

  .textS {
    font-size: 1rem;
  }
  .fg2{
    gap: 1rem;
  }
  .marText5 {
    margin: 0
  }

  .collab {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    gap: 5%;

    grid-template-columns: repeat(2, 50%);
  }

  .listItems {
    padding: 0.2rem 0 0.2rem 0;

  }

  .tab2 {
    grid-template-columns: 2rem auto;
  }
  .contact{
    flex-wrap: wrap;
  }
  .getInTouch{
    flex-wrap: wrap;
  }
  .img100small2 {
    width: 100%;
  }
}

@media only screen and (max-width:800px) {
  .circle2 {
 
    height: 25px;
    width: 25px;

    background-color: var(--darkBlack);

    margin-right: 7px;
  }
  .circle2 svg{
    height: 15px;
    width: 15px;
  }
  .textXL {
    font-size: 1.5rem;
  }

  .textL {
    font-size: 1.25rem;
  }

  .textM {
    font-size: 1rem;
  }

  .textS {
    font-size: 0.75rem;
  }

  .marText5 {
    margin: 0
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .aboutSection{
    flex-wrap: wrap;
  }
  .container {
    padding: 5rem 1rem 5rem 1rem;
  }

  .mainTitle {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
    line-height: normal;
  }

  .secTitle {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;


  }

  .img100,
  .img50 {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 2rem;
    margin: 2rem 0 2rem 0;
  }

  .pdTopBtm {
    padding: 0.5rem 0 0.5rem 0;
  }

  .textXL {
    font-size: 1.5rem;
  }

  .textL {
    font-size: 1.25rem;
  }

  .textM {
    font-size: 1rem;
  }

  .textS {
    font-size: 0.75rem;
  }

  .marText5 {
    margin: 0
  }

  .collab {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    gap: 5%;

    grid-template-columns: repeat(2, 50%);
  }

  .listItems {
    padding: 0.2rem 0 0.2rem 0;

  }

  .tab2 {
    grid-template-columns: 2rem auto;
  }

  .servicesNemt {
    flex-wrap: wrap;
  }

  .wPer45 {
    width: 100%;
  }
  .imgAbout {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  
  .aboutContent {
    width: 100%;
    padding: 2rem;
    margin:0;
  }
  .aboutTitle {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
  
    padding: 0 0 2rem 0;
  }
  .secTitle2 {
    font-size: 2rem;
    font-weight: 500;
  }
  .availableTitle {
    font-size: 2.5rem;
    font-weight: 500;
  
  }
  .availableContent {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    align-items: center;
    padding-bottom: 1rem;
  }
  .titleLarge {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
  
  }
  .contact{
    flex-wrap: wrap;
  }
  .getInTouch{
    flex-wrap: wrap;
  }
  .getInTouch{
 
    padding: 1rem 2rem 1rem 2rem;
  
  }
  .img100small2 {
    width: 100%;
  }
  .faqCon{
    border-top: 1px solid var(--lightBlack);
    border-bottom: 1px solid var(--lightBlack);
    padding:1rem;
    background-color: white;
    transition-duration: 0.3s;
  }
  .numberBg2 h3{
    font-size: 1rem;
  }
  .circle2 {
 
    height: 25px;
    width: 25px;

    background-color: var(--darkBlack);

    margin-right: 7px;
  }
  .circle2 svg{
    height: 15px;
    width: 15px;
  }
}